# Task

**Find the sum of the series upto n terms. Series should be of the type n+nn+nnn+nnnn+â€¦.. The number in the series and number of elements  in the series should be taken from the user as input.**

# Solution

In [29]:
n = int(input("How many numbers you want to have in series "))
m = int(input("Which no.you want to have in the series "))
m = str(m)

How many numbers you want to have in series 4
Which no.you want to have in the series 4

In [30]:
sum = ""
for i in range(1,n):
    sum = sum + m*i + " " + "+" + " "
print(sum,m*n)

4 + 44 + 444 +  4444